Repository lucacome/docker-image-update-checker, pull requests merged in 2023-01, with the labels that each got.

#13 Add dependabot
  .github/dependabot.yml
Labels: chore

#14 Add release file
  .github/release.yml
Labels: chore

#11 handle_library_dockerhub_images
  .github/workflows/test.yml
  docker.sh
Labels: enhancement

#19 Update README for v1.2.0
  README.md
Labels: documentation
